.center{
  display: flex;
  justify-content: center;
  align-items:center ;
}
.flex{
  display: flex;
}
.fullh{
  height: 100%;
}
.halfh{
  height: 50%;
}
.one-thirdh{
  height: 33.3%;
}
.two-thirdh{
  height: 66.6%;
}
.fullw{
  width: 100%;
}
.halfw{
  width: 50%;
}
.one-thirdw{
  width: 33.3%;
}
.two-thirdw{
  width: 66.6%;
}
.gap{
  gap: 30px;
}
.pdbottom{
  padding-bottom: 30px;
}
.pdtop{
  padding-top: 30px;
}
.maginbottom{
  margin-bottom: 30px;
}
.color1{
 background-color: rgb(247, 249, 250) ;
}
.color2{
  background-color: rgb(221, 194, 243);
}
.color3{
  background-color: palevioletred;
}
.color4{
  background-color: rgb(236, 93, 105);
}
.dcol{
  flex-direction: column;
}